header {
  display: flex;
  justify-content: space-around;
  background-color: pink;
  padding: 0.5rem;
  align-items: center;
}

header input {
  width: 20vw;
  height: 50px;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.content {
  margin: 1rem 10%;
}

.content li {
  font-size: 1.3rem;
  font-weight: 500;
  list-style-type: circle;
  margin: 1rem 10%;
}
