.result-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-of-list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.result-tab-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100px;
}

.result-tab-container-tabs {
  width: 20%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.dosing-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.result-input-container-2 {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.patientype-input-container {
  position: relative;
  right: 2rem;
}

.result-age-type-dropdown {
  margin-top: 1.6rem;
}

.result-input-container-2 input {
  border: 2px solid grey;
  outline: none;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: large;
  margin: 0.5rem 0;
}

.result-input-container {
  margin: 1rem 0;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.result-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.input-border {
  width: 80%;
  height: 2px;
  background-color: black;
}

.result-age-input {
  border: none;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.result-age-type-dropdown {
  width: 150px;
}

.result-weight-type-dropdown {
  width: 150px;
}

.submit-button {
  align-self: center;
  width: 100px;
  height: 50px;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.result-back-name span {
  margin-right: 1rem;
  font-size: 30px;
  color: #000;
}
.result-back-name {
  color: black;
}

.result-back-name:hover {
  color: #000;
  /* border-bottom: 2px solid black; */
}
