.select-comoribities-main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.select-comoribities-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  background-color: navy;
  color: white;
  padding-left: 2%;
}

.select-comoribities-next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: blue;
  color: white;
  height: 40px;
}
.select-comoribities-list-main-container {
  background-color: skyblue;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}
.select-comoribities-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid white;
}

.select-comoribities-input-for-concentration {
  width: 100px;
  height: 50%;
  background-color: white;
  border: none;
}
